<h1>Update your password</h1>

<%= form_with model: @user, url: password_reset_edit_path(params[:token]) do |form|%>
  <div class="mb-3">
  <%= form.label :password%>
  <%= form.password_field :password, class: "form-control", placeholder: "password"%>
  </div>
  <div class="mb-3">
  <%= form.label :password_confirmation%>
  <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Re-enter password"%>
  </div>

  <div class="mb-3">
  <%= form.submit "Reset password", class: "btn btn-primary" %>
  </div>
<%end%>